.navbar-brand {
    font-size: 25px;
    font-weight: bold;
    margin-right: 50px;
    margin-left: 20px;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px, 20px;
    width: 100%;
    z-index: 1000;
    box-shadow: 0px 2px 4px rgb(0, 0, 0, 0.1);
    height: 80px;
    font-size: 20px;
    background-color: rgb(130, 240, 130);
}

.navbar-toggler {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    width: 55px;
  }

.nav-item {
    margin-right: 30px;
}

.nav-item:hover{
    text-decoration: underline;
}

.dropdown-item:hover{
    text-decoration: underline;
}

.navbar-collapse{
    background-color: rgb(130, 240, 130);
}

.dropdown-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}